In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://storagehenrypf.blob.core.windows.net/henrypf/DWH.Maestra_Indicadores.csv')

In [4]:
df_sort=df.sort_values(by=['country_value','date'])
df_sort

,country_value,date,countryiso3code,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a
0,Afghanistan,1990,AFG,NaN,NaN,7.4660,162.8354,48.880,120.8,NaN,NaN,50.331000,4.476954,12412311,NaN,10.4,35.5
30,Afghanistan,1991,AFG,NaN,NaN,7.4790,163.3822,48.763,117.1,NaN,NaN,50.999000,6.900124,13299016,NaN,10.7,35.5
60,Afghanistan,1992,AFG,NaN,NaN,7.5020,163.9290,48.709,113.5,NaN,NaN,51.641000,8.546107,14485543,NaN,11.0,35.6
90,Afghanistan,1993,AFG,NaN,NaN,7.5350,164.1888,48.717,110.1,NaN,NaN,52.256000,8.790897,15816601,NaN,11.4,35.6
120,Afghanistan,1994,AFG,NaN,NaN,7.5720,164.4486,48.770,106.9,NaN,NaN,52.842000,7.659796,17075728,NaN,11.7,35.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,United States,2016,USA,1.869511e+13,15.1,1.8205,21.4754,12.200,5.7,9775.000000,16.844324,78.539024,0.724676,323071755,57866.744934,67.9,31.6
838,United States,2017,USA,1.947962e+13,15.9,1.7655,19.8600,11.800,5.7,10103.091797,16.805836,78.539024,0.632644,325122128,59914.777797,NaN,31.6
868,United States,2018,USA,2.052716e+13,15.7,1.7295,18.5562,11.600,5.6,10515.323242,16.687105,78.639024,0.526435,326838199,62805.253758,NaN,31.6
898,United States,2019,USA,2.137257e+13,16.1,1.7060,17.2524,11.400,5.5,10921.012695,16.767063,78.787805,0.455381,328329953,65094.799429,NaN,31.6
916,United States,2020,USA,2.089374e+13,NaN,1.6375,15.9486,10.900,5.4,NaN,NaN,77.280488,0.961201,331501080,63027.679527,NaN,NaN

In [5]:
df_indicadores =df_sort.iloc[:,3:]
df_indicadores.head(3)

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a
0,NaN,NaN,7.466,162.8354,48.880,120.8,NaN,NaN,50.331,4.476954,12412311,NaN,10.4,35.5
30,NaN,NaN,7.479,163.3822,48.763,117.1,NaN,NaN,50.999,6.900124,13299016,NaN,10.7,35.5
60,NaN,NaN,7.502,163.9290,48.709,113.5,NaN,NaN,51.641,8.546107,14485543,NaN,11.0,35.6

In [6]:
Y =df_sort.iloc[:,0:3]
Y.head(3)

   country_value  date countryiso3code
0    Afghanistan  1990             AFG
30   Afghanistan  1991             AFG
60   Afghanistan  1992             AFG

In [7]:
X=df_indicadores
X.head(3)

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a
0,NaN,NaN,7.466,162.8354,48.880,120.8,NaN,NaN,50.331,4.476954,12412311,NaN,10.4,35.5
30,NaN,NaN,7.479,163.3822,48.763,117.1,NaN,NaN,50.999,6.900124,13299016,NaN,10.7,35.5
60,NaN,NaN,7.502,163.9290,48.709,113.5,NaN,NaN,51.641,8.546107,14485543,NaN,11.0,35.6

In [8]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
imp = IterativeImputer(estimator=lr,missing_values=np.nan, max_iter=10, verbose=2, imputation_order='roman',random_state=0)
X=imp.fit_transform(X)

[IterativeImputer] Completing matrix with shape (930, 14)
[IterativeImputer] Ending imputation round 1/10, elapsed time 0.04
[IterativeImputer] Change: 1821731664767.4224, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 2/10, elapsed time 0.08
[IterativeImputer] Change: 825249416508.7948, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 3/10, elapsed time 0.12
[IterativeImputer] Change: 216283129020.3151, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 4/10, elapsed time 0.16
[IterativeImputer] Change: 84546421146.15543, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 5/10, elapsed time 0.20
[IterativeImputer] Change: 85251805194.21863, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 6/10, elapsed time 0.24
[IterativeImputer] Change: 121326082851.74881, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 7/10, elapsed time 0.28
[IterativeImputer] Change: 139601211733.14215, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 8/10, elapsed time 0.32
[IterativeImputer] Change: 147260695278.68024, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 9/10, elapsed time 0.36
[IterativeImputer] Change: 148820923970.65677, scaled tolerance: 21372572437.0
[IterativeImputer] Ending imputation round 10/10, elapsed time 0.40
[IterativeImputer] Change: 146989610227.93655, scaled tolerance: 21372572437.0

/anaconda/envs/azureml_py38/lib/python3.8/site-packages/sklearn/impute/_iterative.py:637: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [9]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,9.650979e+11,-0.950447,7.4660,162.8354,48.880,120.8,1262.067695,7.381806,50.331000,4.476954,12412311.0,8462.493597,10.400000,35.500000
1,-9.837708e+10,-0.224073,7.4790,163.3822,48.763,117.1,1341.144948,9.420020,50.999000,6.900124,13299016.0,12846.415533,10.700000,35.500000
2,-7.657523e+11,0.273106,7.5020,163.9290,48.709,113.5,1398.103213,10.874174,51.641000,8.546107,14485543.0,15828.551365,11.000000,35.600000
3,-7.370584e+11,0.326369,7.5350,164.1888,48.717,110.1,1421.178804,11.258260,52.256000,8.790897,15816601.0,16388.252504,11.400000,35.600000
4,-2.132502e+10,-0.044085,7.5720,164.4486,48.770,106.9,1405.110385,10.592309,52.842000,7.659796,17075728.0,14476.414424,11.700000,35.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,1.869511e+13,15.100000,1.8205,21.4754,12.200,5.7,9775.000000,16.844324,78.539024,0.724676,323071755.0,57866.744934,67.900000,31.600000
926,1.947962e+13,15.900000,1.7655,19.8600,11.800,5.7,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.177159,31.600000
927,2.052716e+13,15.700000,1.7295,18.5562,11.600,5.6,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.371362,31.600000
928,2.137257e+13,16.100000,1.7060,17.2524,11.400,5.5,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.878313,31.600000
929,2.089374e+13,16.570331,1.6375,15.9486,10.900,5.4,9767.349077,17.757796,77.280488,0.961201,331501080.0,63027.679527,66.187117,31.783991

In [10]:
X=pd.DataFrame(X)

In [11]:

X["country_value"] = Y.iloc[:,0:1]
X["date"] = Y.iloc[:,1:2]
X["countryiso3code"] = Y.iloc[:,2:3]
print(X)

                0          1       2         3       4      5             6  \
0    9.650979e+11  -0.950447  7.4660  162.8354  48.880  120.8   1262.067695
1   -9.837708e+10  -0.224073  7.4790  163.3822  48.763  117.1   1341.144948
2   -7.657523e+11   0.273106  7.5020  163.9290  48.709  113.5   1398.103213
3   -7.370584e+11   0.326369  7.5350  164.1888  48.717  110.1   1421.178804
4   -2.132502e+10  -0.044085  7.5720  164.4486  48.770  106.9   1405.110385
..            ...        ...     ...       ...     ...    ...           ...
925  1.869511e+13  15.100000  1.8205   21.4754  12.200    5.7   9775.000000
926  1.947962e+13  15.900000  1.7655   19.8600  11.800    5.7  10103.091797
927  2.052716e+13  15.700000  1.7295   18.5562  11.600    5.6  10515.323242
928  2.137257e+13  16.100000  1.7060   17.2524  11.400    5.5  10921.012695
929  2.089374e+13  16.570331  1.6375   15.9486  10.900    5.4   9767.349077

             7          8         9           10            11         12  \
0     7.381806  50.331000  4.476954   12412311.0   8462.493597  10.400000
1     9.420020  50.999000  6.900124   13299016.0  12846.415533  10.700000
2    10.874174  51.641000  8.546107   14485543.0  15828.551365  11.000000
3    11.258260  52.256000  8.790897   15816601.0  16388.252504  11.400000
4    10.592309  52.842000  7.659796   17075728.0  14476.414424  11.700000
..         ...        ...       ...          ...           ...        ...
925  16.844324  78.539024  0.724676  323071755.0  57866.744934  67.900000
926  16.805836  78.539024  0.632644  325122128.0  59914.777797  53.177159
927  16.687105  78.639024  0.526435  326838199.0  62805.253758  53.371362
928  16.767063  78.787805  0.455381  328329953.0  65094.799429  52.878313
929  17.757796  77.280488  0.961201  331501080.0  63027.679527  66.187117

            13 country_value  date countryiso3code
0    35.500000   Afghanistan  1990             AFG
1    35.500000     Argentina  1990             ARG
2    35.600000     Australia  1990             AUS
3    35.600000    Bangladesh  1990             BGD
4    35.700000        Brazil  1990             BRA
..         ...           ...   ...             ...
925  31.600000         Chile  2020             CHL
926  31.600000     Argentina  2020             ARG
927  31.600000        Brazil  2020             BRA
928  31.600000         Italy  2020             ITA
929  31.783991        Mexico  2020             MEX

[930 rows x 17 columns]

In [12]:
X=pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,country_value,date,countryiso3code
0,9.650979e+11,-0.950447,7.4660,162.8354,48.880,120.8,1262.067695,7.381806,50.331000,4.476954,12412311.0,8462.493597,10.400000,35.500000,Afghanistan,1990,AFG
1,-9.837708e+10,-0.224073,7.4790,163.3822,48.763,117.1,1341.144948,9.420020,50.999000,6.900124,13299016.0,12846.415533,10.700000,35.500000,Argentina,1990,ARG
2,-7.657523e+11,0.273106,7.5020,163.9290,48.709,113.5,1398.103213,10.874174,51.641000,8.546107,14485543.0,15828.551365,11.000000,35.600000,Australia,1990,AUS
3,-7.370584e+11,0.326369,7.5350,164.1888,48.717,110.1,1421.178804,11.258260,52.256000,8.790897,15816601.0,16388.252504,11.400000,35.600000,Bangladesh,1990,BGD
4,-2.132502e+10,-0.044085,7.5720,164.4486,48.770,106.9,1405.110385,10.592309,52.842000,7.659796,17075728.0,14476.414424,11.700000,35.700000,Brazil,1990,BRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,1.869511e+13,15.100000,1.8205,21.4754,12.200,5.7,9775.000000,16.844324,78.539024,0.724676,323071755.0,57866.744934,67.900000,31.600000,Chile,2020,CHL
926,1.947962e+13,15.900000,1.7655,19.8600,11.800,5.7,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.177159,31.600000,Argentina,2020,ARG
927,2.052716e+13,15.700000,1.7295,18.5562,11.600,5.6,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.371362,31.600000,Brazil,2020,BRA
928,2.137257e+13,16.100000,1.7060,17.2524,11.400,5.5,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.878313,31.600000,Italy,2020,ITA
929,2.089374e+13,16.570331,1.6375,15.9486,10.900,5.4,9767.349077,17.757796,77.280488,0.961201,331501080.0,63027.679527,66.187117,31.783991,Mexico,2020,MEX

In [13]:
df_rename=X.rename(columns={0: "NY.GDP.MKTP.CD", 1: "SH.STA.SUIC.P5",2:"SP.DYN.TFRT.IN",3:"SP.ADO.TFRT",4:"SP.DYN.CBRT.IN",5:"SP.DYN.IMRT.IN",6:"SH.XPD.CHEX.PC.CD",7:"SH.XPD.CHEX.GD.ZS",8:"SP.DYN.LE00.IN",9:"SP.POP.GROW",10:"SP.POP.TOTL",11:"NY.GDP.PCAP.CD",12:"ncd_bmi_25a",13:"ncd_hyp_prevalence_a"})

In [14]:
df_rename

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a,country_value,date,countryiso3code
0,9.650979e+11,-0.950447,7.4660,162.8354,48.880,120.8,1262.067695,7.381806,50.331000,4.476954,12412311.0,8462.493597,10.400000,35.500000,Afghanistan,1990,AFG
1,-9.837708e+10,-0.224073,7.4790,163.3822,48.763,117.1,1341.144948,9.420020,50.999000,6.900124,13299016.0,12846.415533,10.700000,35.500000,Argentina,1990,ARG
2,-7.657523e+11,0.273106,7.5020,163.9290,48.709,113.5,1398.103213,10.874174,51.641000,8.546107,14485543.0,15828.551365,11.000000,35.600000,Australia,1990,AUS
3,-7.370584e+11,0.326369,7.5350,164.1888,48.717,110.1,1421.178804,11.258260,52.256000,8.790897,15816601.0,16388.252504,11.400000,35.600000,Bangladesh,1990,BGD
4,-2.132502e+10,-0.044085,7.5720,164.4486,48.770,106.9,1405.110385,10.592309,52.842000,7.659796,17075728.0,14476.414424,11.700000,35.700000,Brazil,1990,BRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,1.869511e+13,15.100000,1.8205,21.4754,12.200,5.7,9775.000000,16.844324,78.539024,0.724676,323071755.0,57866.744934,67.900000,31.600000,Chile,2020,CHL
926,1.947962e+13,15.900000,1.7655,19.8600,11.800,5.7,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.177159,31.600000,Argentina,2020,ARG
927,2.052716e+13,15.700000,1.7295,18.5562,11.600,5.6,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.371362,31.600000,Brazil,2020,BRA
928,2.137257e+13,16.100000,1.7060,17.2524,11.400,5.5,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.878313,31.600000,Italy,2020,ITA
929,2.089374e+13,16.570331,1.6375,15.9486,10.900,5.4,9767.349077,17.757796,77.280488,0.961201,331501080.0,63027.679527,66.187117,31.783991,Mexico,2020,MEX

In [15]:
df2=df_rename.query("date != '2021'")

In [16]:
df2

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a,country_value,date,countryiso3code
0,9.650979e+11,-0.950447,7.4660,162.8354,48.880,120.8,1262.067695,7.381806,50.331000,4.476954,12412311.0,8462.493597,10.400000,35.500000,Afghanistan,1990,AFG
1,-9.837708e+10,-0.224073,7.4790,163.3822,48.763,117.1,1341.144948,9.420020,50.999000,6.900124,13299016.0,12846.415533,10.700000,35.500000,Argentina,1990,ARG
2,-7.657523e+11,0.273106,7.5020,163.9290,48.709,113.5,1398.103213,10.874174,51.641000,8.546107,14485543.0,15828.551365,11.000000,35.600000,Australia,1990,AUS
3,-7.370584e+11,0.326369,7.5350,164.1888,48.717,110.1,1421.178804,11.258260,52.256000,8.790897,15816601.0,16388.252504,11.400000,35.600000,Bangladesh,1990,BGD
4,-2.132502e+10,-0.044085,7.5720,164.4486,48.770,106.9,1405.110385,10.592309,52.842000,7.659796,17075728.0,14476.414424,11.700000,35.700000,Brazil,1990,BRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,1.869511e+13,15.100000,1.8205,21.4754,12.200,5.7,9775.000000,16.844324,78.539024,0.724676,323071755.0,57866.744934,67.900000,31.600000,Chile,2020,CHL
926,1.947962e+13,15.900000,1.7655,19.8600,11.800,5.7,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.177159,31.600000,Argentina,2020,ARG
927,2.052716e+13,15.700000,1.7295,18.5562,11.600,5.6,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.371362,31.600000,Brazil,2020,BRA
928,2.137257e+13,16.100000,1.7060,17.2524,11.400,5.5,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.878313,31.600000,Italy,2020,ITA
929,2.089374e+13,16.570331,1.6375,15.9486,10.900,5.4,9767.349077,17.757796,77.280488,0.961201,331501080.0,63027.679527,66.187117,31.783991,Mexico,2020,MEX

In [19]:
df2.to_csv('https://storagehenrypf.blob.core.windows.net/henrypf/data_cleansed.csv')

##### stop