**Importando librer√≠a **

In [3]:
import pandas as pd

**Importando data del data lake **

In [4]:
df = pd.read_csv('https://storagehenrypf.blob.core.windows.net/henrypf/DWH.Maestra_Indicadores.csv')

In [5]:
df_sort=df.sort_values(by=['country_value','date'])
df_sort.head(10)

,country_value,date,countryiso3code,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a
0,Afghanistan,1990,AFG,NaN,NaN,7.466,162.8354,48.880,120.8,NaN,NaN,50.331,4.476954,12412311,NaN,10.4,35.5
30,Afghanistan,1991,AFG,NaN,NaN,7.479,163.3822,48.763,117.1,NaN,NaN,50.999,6.900124,13299016,NaN,10.7,35.5
60,Afghanistan,1992,AFG,NaN,NaN,7.502,163.9290,48.709,113.5,NaN,NaN,51.641,8.546107,14485543,NaN,11.0,35.6
90,Afghanistan,1993,AFG,NaN,NaN,7.535,164.1888,48.717,110.1,NaN,NaN,52.256,8.790897,15816601,NaN,11.4,35.6
120,Afghanistan,1994,AFG,NaN,NaN,7.572,164.4486,48.770,106.9,NaN,NaN,52.842,7.659796,17075728,NaN,11.7,35.7
150,Afghanistan,1995,AFG,NaN,NaN,7.606,164.7084,48.835,103.9,NaN,NaN,53.398,5.884279,18110662,NaN,12.1,35.8
180,Afghanistan,1996,AFG,NaN,NaN,7.629,164.9682,48.870,101.0,NaN,NaN,53.924,4.019478,18853444,NaN,12.5,35.8
210,Afghanistan,1997,AFG,NaN,NaN,7.632,165.2280,48.833,98.2,NaN,NaN,54.424,2.636502,19357126,NaN,12.9,35.9
240,Afghanistan,1998,AFG,NaN,NaN,7.610,161.4690,48.688,95.6,NaN,NaN,54.906,1.947344,19737770,NaN,13.4,36.1
270,Afghanistan,1999,AFG,NaN,NaN,7.561,157.7100,48.419,93.0,NaN,NaN,55.376,2.170429,20170847,NaN,13.8,36.2

**Dividiendo el dataframe en dos: **
- df_Indicadores:  columnas de los Indicadores
- Y : columnas de pa√≠s y a√±o

In [6]:
df_indicadores =df_sort.iloc[:,3:]
df_indicadores.head(3)

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a
0,NaN,NaN,7.466,162.8354,48.880,120.8,NaN,NaN,50.331,4.476954,12412311,NaN,10.4,35.5
30,NaN,NaN,7.479,163.3822,48.763,117.1,NaN,NaN,50.999,6.900124,13299016,NaN,10.7,35.5
60,NaN,NaN,7.502,163.9290,48.709,113.5,NaN,NaN,51.641,8.546107,14485543,NaN,11.0,35.6

In [7]:
Y =df_sort.iloc[:,0:3]
Y.head(3)

   country_value  date countryiso3code
0    Afghanistan  1990             AFG
30   Afghanistan  1991             AFG
60   Afghanistan  1992             AFG

In [9]:
X=df_indicadores
X.head(3)

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a
0,NaN,NaN,7.466,162.8354,48.880,120.8,NaN,NaN,50.331,4.476954,12412311,NaN,10.4,35.5
30,NaN,NaN,7.479,163.3822,48.763,117.1,NaN,NaN,50.999,6.900124,13299016,NaN,10.7,35.5
60,NaN,NaN,7.502,163.9290,48.709,113.5,NaN,NaN,51.641,8.546107,14485543,NaN,11.0,35.6

**Se procesa el dataframe de los indicadores para la imputaci√≥n de valores nulos usando el algoritmo MICE (Multiple Inputation by Chained Equations)**

In [10]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
imp = IterativeImputer(estimator=lr,missing_values=np.nan, max_iter=10, verbose=2, imputation_order='roman',random_state=0)
X=imp.fit_transform(X)

[IterativeImputer] Completing matrix with shape (960, 14)
[IterativeImputer] Ending imputation round 1/10, elapsed time 0.05
[IterativeImputer] Change: 2418052105363.277, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 2/10, elapsed time 0.09
[IterativeImputer] Change: 321029495628.15704, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 3/10, elapsed time 0.13
[IterativeImputer] Change: 187801971595.27094, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 4/10, elapsed time 0.17
[IterativeImputer] Change: 114639259633.2083, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 5/10, elapsed time 0.24
[IterativeImputer] Change: 60559426146.787125, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 6/10, elapsed time 0.29
[IterativeImputer] Change: 72080019074.23886, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 7/10, elapsed time 0.33
[IterativeImputer] Change: 78281073143.54694, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 8/10, elapsed time 0.38
[IterativeImputer] Change: 81576816078.70903, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 9/10, elapsed time 0.42
[IterativeImputer] Change: 83464563846.75304, scaled tolerance: 22996100000.0
[IterativeImputer] Ending imputation round 10/10, elapsed time 0.47
[IterativeImputer] Change: 84646911823.6914, scaled tolerance: 22996100000.0

**Visualizando el resultado**

In [15]:
X=pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.031453e+12,-0.929015,7.466000,162.835400,48.880000,120.800000,1293.788333,7.417974,50.331000,4.476954,12412311.0,8627.147190,10.400000,35.500000
1,-2.167522e+11,-0.268808,7.479000,163.382200,48.763000,117.100000,1182.697400,9.270762,50.999000,6.900124,13299016.0,11442.608308,10.700000,35.500000
2,-1.003638e+12,0.183647,7.502000,163.929000,48.709000,113.500000,1112.294574,10.601289,51.641000,8.546107,14485543.0,13365.602001,11.000000,35.600000
3,-9.801795e+11,0.230576,7.535000,164.188800,48.717000,110.100000,1120.202445,10.971836,52.256000,8.790897,15816601.0,13780.724758,11.400000,35.600000
4,-1.557734e+11,-0.108478,7.572000,164.448600,48.770000,106.900000,1199.297876,10.400813,52.842000,7.659796,17075728.0,12620.385434,11.700000,35.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,1.947962e+13,15.900000,1.765500,19.860000,11.800000,5.700000,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.114353,31.600000
956,2.052716e+13,15.700000,1.729500,18.556200,11.600000,5.600000,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.298648,31.600000
957,2.137257e+13,16.100000,1.706000,17.252400,11.400000,5.500000,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.798797,31.600000
958,2.089374e+13,16.584004,1.637500,15.948600,10.900000,5.400000,9767.538183,17.757916,77.280488,0.961201,331501080.0,63027.679527,66.148737,31.801144
959,2.299610e+13,14.304306,2.652353,33.675445,13.650302,6.137115,10703.104876,19.698022,77.906939,0.118380,331893745.0,69287.536588,69.842676,32.080098

**Agregando las columnas de Pa√≠s/A√±o al dataframe con los valores imputados**

In [16]:

X["country_value"] = Y.iloc[:,0:1].reset_index()["country_value"]
X["date"] = Y.iloc[:,1:2].reset_index()["date"]
X["countryiso3code"] = Y.iloc[:,2:3].reset_index()["countryiso3code"]

In [17]:
X=pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,country_value,date,countryiso3code
0,1.031453e+12,-0.929015,7.466000,162.835400,48.880000,120.800000,1293.788333,7.417974,50.331000,4.476954,12412311.0,8627.147190,10.400000,35.500000,Afghanistan,1990,AFG
1,-2.167522e+11,-0.268808,7.479000,163.382200,48.763000,117.100000,1182.697400,9.270762,50.999000,6.900124,13299016.0,11442.608308,10.700000,35.500000,Afghanistan,1991,AFG
2,-1.003638e+12,0.183647,7.502000,163.929000,48.709000,113.500000,1112.294574,10.601289,51.641000,8.546107,14485543.0,13365.602001,11.000000,35.600000,Afghanistan,1992,AFG
3,-9.801795e+11,0.230576,7.535000,164.188800,48.717000,110.100000,1120.202445,10.971836,52.256000,8.790897,15816601.0,13780.724758,11.400000,35.600000,Afghanistan,1993,AFG
4,-1.557734e+11,-0.108478,7.572000,164.448600,48.770000,106.900000,1199.297876,10.400813,52.842000,7.659796,17075728.0,12620.385434,11.700000,35.700000,Afghanistan,1994,AFG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,1.947962e+13,15.900000,1.765500,19.860000,11.800000,5.700000,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.114353,31.600000,United States,2017,USA
956,2.052716e+13,15.700000,1.729500,18.556200,11.600000,5.600000,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.298648,31.600000,United States,2018,USA
957,2.137257e+13,16.100000,1.706000,17.252400,11.400000,5.500000,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.798797,31.600000,United States,2019,USA
958,2.089374e+13,16.584004,1.637500,15.948600,10.900000,5.400000,9767.538183,17.757916,77.280488,0.961201,331501080.0,63027.679527,66.148737,31.801144,United States,2020,USA
959,2.299610e+13,14.304306,2.652353,33.675445,13.650302,6.137115,10703.104876,19.698022,77.906939,0.118380,331893745.0,69287.536588,69.842676,32.080098,United States,2021,USA

**Renombrando las columnas de indicadores**

In [19]:
df_rename=X.rename(columns={0: "NY.GDP.MKTP.CD", 1: "SH.STA.SUIC.P5",2:"SP.DYN.TFRT.IN",3:"SP.ADO.TFRT",4:"SP.DYN.CBRT.IN",5:"SP.DYN.IMRT.IN",6:"SH.XPD.CHEX.PC.CD",7:"SH.XPD.CHEX.GD.ZS",8:"SP.DYN.LE00.IN",9:"SP.POP.GROW",10:"SP.POP.TOTL",11:"NY.GDP.PCAP.CD",12:"ncd_bmi_25a",13:"ncd_hyp_prevalence_a"})

In [20]:
df_rename

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a,country_value,date,countryiso3code
0,1.031453e+12,-0.929015,7.466000,162.835400,48.880000,120.800000,1293.788333,7.417974,50.331000,4.476954,12412311.0,8627.147190,10.400000,35.500000,Afghanistan,1990,AFG
1,-2.167522e+11,-0.268808,7.479000,163.382200,48.763000,117.100000,1182.697400,9.270762,50.999000,6.900124,13299016.0,11442.608308,10.700000,35.500000,Afghanistan,1991,AFG
2,-1.003638e+12,0.183647,7.502000,163.929000,48.709000,113.500000,1112.294574,10.601289,51.641000,8.546107,14485543.0,13365.602001,11.000000,35.600000,Afghanistan,1992,AFG
3,-9.801795e+11,0.230576,7.535000,164.188800,48.717000,110.100000,1120.202445,10.971836,52.256000,8.790897,15816601.0,13780.724758,11.400000,35.600000,Afghanistan,1993,AFG
4,-1.557734e+11,-0.108478,7.572000,164.448600,48.770000,106.900000,1199.297876,10.400813,52.842000,7.659796,17075728.0,12620.385434,11.700000,35.700000,Afghanistan,1994,AFG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,1.947962e+13,15.900000,1.765500,19.860000,11.800000,5.700000,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.114353,31.600000,United States,2017,USA
956,2.052716e+13,15.700000,1.729500,18.556200,11.600000,5.600000,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.298648,31.600000,United States,2018,USA
957,2.137257e+13,16.100000,1.706000,17.252400,11.400000,5.500000,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.798797,31.600000,United States,2019,USA
958,2.089374e+13,16.584004,1.637500,15.948600,10.900000,5.400000,9767.538183,17.757916,77.280488,0.961201,331501080.0,63027.679527,66.148737,31.801144,United States,2020,USA
959,2.299610e+13,14.304306,2.652353,33.675445,13.650302,6.137115,10703.104876,19.698022,77.906939,0.118380,331893745.0,69287.536588,69.842676,32.080098,United States,2021,USA

**Removiendo las filas de a√±o 2021**

In [21]:
df2=df_rename.query("date != '2021'")

In [22]:
df2

,NY.GDP.MKTP.CD,SH.STA.SUIC.P5,SP.DYN.TFRT.IN,SP.ADO.TFRT,SP.DYN.CBRT.IN,SP.DYN.IMRT.IN,SH.XPD.CHEX.PC.CD,SH.XPD.CHEX.GD.ZS,SP.DYN.LE00.IN,SP.POP.GROW,SP.POP.TOTL,NY.GDP.PCAP.CD,ncd_bmi_25a,ncd_hyp_prevalence_a,country_value,date,countryiso3code
0,1.031453e+12,-0.929015,7.4660,162.8354,48.880,120.8,1293.788333,7.417974,50.331000,4.476954,12412311.0,8627.147190,10.400000,35.500000,Afghanistan,1990,AFG
1,-2.167522e+11,-0.268808,7.4790,163.3822,48.763,117.1,1182.697400,9.270762,50.999000,6.900124,13299016.0,11442.608308,10.700000,35.500000,Afghanistan,1991,AFG
2,-1.003638e+12,0.183647,7.5020,163.9290,48.709,113.5,1112.294574,10.601289,51.641000,8.546107,14485543.0,13365.602001,11.000000,35.600000,Afghanistan,1992,AFG
3,-9.801795e+11,0.230576,7.5350,164.1888,48.717,110.1,1120.202445,10.971836,52.256000,8.790897,15816601.0,13780.724758,11.400000,35.600000,Afghanistan,1993,AFG
4,-1.557734e+11,-0.108478,7.5720,164.4486,48.770,106.9,1199.297876,10.400813,52.842000,7.659796,17075728.0,12620.385434,11.700000,35.700000,Afghanistan,1994,AFG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,1.869511e+13,15.100000,1.8205,21.4754,12.200,5.7,9775.000000,16.844324,78.539024,0.724676,323071755.0,57866.744934,67.900000,31.600000,United States,2016,USA
955,1.947962e+13,15.900000,1.7655,19.8600,11.800,5.7,10103.091797,16.805836,78.539024,0.632644,325122128.0,59914.777797,53.114353,31.600000,United States,2017,USA
956,2.052716e+13,15.700000,1.7295,18.5562,11.600,5.6,10515.323242,16.687105,78.639024,0.526435,326838199.0,62805.253758,53.298648,31.600000,United States,2018,USA
957,2.137257e+13,16.100000,1.7060,17.2524,11.400,5.5,10921.012695,16.767063,78.787805,0.455381,328329953.0,65094.799429,52.798797,31.600000,United States,2019,USA
958,2.089374e+13,16.584004,1.6375,15.9486,10.900,5.4,9767.538183,17.757916,77.280488,0.961201,331501080.0,63027.679527,66.148737,31.801144,United States,2020,USA

**Guardando el resultado en el Data Lake**

In [24]:
df2.to_csv('https://storagehenrypf.blob.core.windows.net/henrypf/df_final_MICE.csv',index=False)